@font-face {
    font-family: GreatVibes;
    src: url('GreatVibes-Regular.ttf');
}

a{
    text-decoration: none;
}

.header{
    font-family: GreatVibes;
}

.gradient{
    color:black;
    cursor: pointer;
}

.gradient:hover{
    animation-name:texthighlight;
    animation-duration: 0.5s;
    background-image: linear-gradient(60deg, #E21143, #FFB03A);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


@keyframes texthighlight{
    from{
        color:black
    }

    to{
        background-image: linear-gradient(60deg, #E21143, #FFB03A);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@media (hover: none) {
    .gradient{
        background-image: linear-gradient(60deg, #E21143, #FFB03A);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}


body{
    background-image: linear-gradient(aquamarine, aqua);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

}

body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.navigation{
    margin-top: 1vh;
    background-color: rgb(252, 241, 229);
    height: max(15vh, 170px);
    width: min(90vw, 1000px);
    box-shadow: 10px 10px 50px royalblue;
    border-radius: 10px;
}

h1{
    font-size: 36px;
    display: inline-block;
    justify-content: center;
    margin: 10px 0px 0px 0px;
}

h3{
    font-size: min(4.5vw,20px);
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.subheaders{
    color: rgb(223, 77, 136);
    display: flex;
    justify-content: center;
}

li{
    font-size: min(3.7vw,17px);
    font-weight: bold;
    margin-right: min(5.5vw,25px);
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    width: 100px;
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    color: blue;
    background-color: antiquewhite;
    border: outset;
    cursor:pointer;
}


.card{
    background-color: rgb(252, 241, 229);
    text-align: center;
    /* height: max(70vh, 1050px); */
    width: min(90vw, 1000px);
    box-shadow: 10px 10px 50px royalblue;
    border-radius: 10px;
    margin-top: 5vh;
    animation-name: slidein;
    animation-duration: 1.75s;

}

.map{
    width: min(85vw, 950px);
    cursor: pointer;
}

.logos{
    display: flex;
    justify-content: center;
}

.logoWrapper{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;;
}

.logo{
    width: min(10vw, 100px) ;
    height: min(10vw, 100px) ;
    cursor:pointer;
}

.credit{
    color:grey;
    font-size: 8px;
}

@keyframes slidein {
    from {
        margin-top:100vh;
    }

    60%{
        margin-top:3.5vh;
    }

    to{
        margin-top: 5vh;
    }
}





 